.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  width: 50%;
  height: 292px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f7567c;
  text-align: center;
}

.slides {
  width: 50%;
  height: 292px;
}

@media (width < 860px) {
  .slides {
    width: 70%;
  }
}
