.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

.containerInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.containerLogos {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    color: white;
}

.button {
    width: 150px;
}

.googleLogo {
    width: 40px;
    height: 40px;
}

.githubLogo {
    width: 40px;
    height: 40px;
}