.searchForm {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
}

.searchForm input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.searchButton {
  justify-content: center;
  align-self: center;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background-color: #1e81b0;
  border: none;
}

.searchButton:hover {
  background-color: #1c729b;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  width: 200px;
}

