.navbar {
  height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  width: 100%;
  color: white;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}
.logo {
  width: 50px;
  height: 50px;
}

.buttonNew {
  display: block;
  font-size: 12px;
  width: 200px;
}

.buttonNew button:hover {
  background: #d35472;
}
