.propertiesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  justify-content: space-around;
  width: 100%;
}

.propertiesGridItem {
  flex-basis: calc(33.33% - 20px); /* Adjusted for margin */
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

@media (max-width: 768px) {
  .propertiesGridItem {
    flex-basis: calc(49% - 10px); /* Adjusted for margin */
  }
}

@media (max-width: 480px) {
  .propertiesGridItem {
    flex-basis: calc(100%); /* Adjusted for margin */
  }
}
