.footer {
  background-color: black;
  color: white;
  width: 100%;
}

.Conteiner {
  display: flex;
  justify-content: space-around;
  height: 270px;
}

.infOptions {
  margin: 1rem;
  padding: 0.5rem;
}

.infOptions p {
  padding: 0.3rem;
}

.redes {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.twitter {
  display: flex;
  margin: 0.5rem;
  text-align: center;
}

.twitter img,
.twitter p {
  margin: 0.5rem;
}

.instagram {
  display: flex;
  margin: 0.5rem;
  text-align: center;
}

.instagram img,
.instagram p {
  margin: 0.5rem;
}

.footer .grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo2 small {
  font-size: 15px;
}

@media (width < 860px) {
  .redes{
    padding-top: 2rem;
    margin: 0;
  }
}