.footer {
  background-color: black;
  color: white;
  width: 100%;
}

.Conteiner {
  display: flex;
  justify-content: space-around;
  height: 270px;
}

.infOptions {
  margin: 1rem;
  padding: 0.5rem;
}

.infOptions p {
  padding: 0.3rem;
}

.redes {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.twitter {
  display: flex;
  margin: 0.5rem;
  text-align: center;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
}

.twitter img,
.twitter p {
  margin: 0.5rem;
}

.instagram {
  display: flex;
  margin: 0.5rem;
  text-align: center;
}

.instagram img,
.instagram p {
  margin: 0.5rem;
}

.footer .grupo2 {
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo2 small {
  font-size: 15px;
}

@media (max-width: 480px) {
  .Conteiner {
    flex-direction: column;
    height: auto;
  }
  .redes,
  .infOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 0;
  }
}
